<center>

<!-- display individual player's card and action form -->
<h1>Your Card</h1>
<%= @player.card.role %>
<%= @player.card.action  %>
<!-- form -->
<% if @player.card.action %>
<h1>Make Your Action</h1>
<% end %>


<!-- display game players -->
<h1>Players List</h1>
<% @game.players.each do |player| %>
<li><%=  player.nickname %></li>
<% end %>

<!-- display game card and roles and actions -->
	<h1>Cards List</h1>
<table>
	<tr>
		<th>Role</th>
		<th>Action</th>
	</tr>

	<% Card.all.each do |card| %>
	<tr><td><%=  card.role %></td>
	<td><%=  card.action %></td></tr>
	<% end %>
</table>

<!-- button for ready or pushing on -->

</center>
