<center>

<!-- display individual player's card and action form -->

<!-- Round 1: see your own card and action -->
<h1>Your Card</h1>
Your card: <%= @player.card.role %><br>
<% if @player.card.action != "" %>
  Your action: <%= @player.card.action  %>
<% end %>

<!-- depending on round, action renders -->
<!-- render '#{@display}' -->

<%= render 'seer_results' %>


<!-- display game players -->
<h1>Players List</h1>
<% @game.players.each do |player| %>
<li><%=  player.nickname %></li>
<% end %>

<!-- display game card and roles and actions -->
	<h1>Cards List</h1>
<table>
	<tr>
		<th>Role</th>
		<th>Action</th>
	</tr>

	<% Card.all.each do |card| %>
	<tr><td><%=  card.role %></td>
	<td><%=  card.action %></td></tr>
	<% end %>
</table>

<!-- button for ready or pushing on -->

</center>
