<center>

<!-- display individual player's card and action form -->
<h1>Your Card</h1>
Your card: <%= @player.card.role %><br>

<% if @player.card.action != "" %>
  Your action: <%= @player.card.action  %>
  <% if @player.card.role == "Werewolf" %>
  	<h2><%= current_game.werewolf_action(current_user) %></h2>
  <% else %>
  	<h2><%= "Take Your Action" %></h2>
  	<% if @player.card.role == "Troublemaker" %>
  	<%= render 'troublemaker_form' %>
  	<% elsif @player.card.role == "Seer" %>
  	<%= render 'seer_form' %>
  	<% elsif @player.card.role == "Robber" %>
  	<%= render 'robber_form' %>
  	<% elsif @game.round.number == 6 %>
  	<%= render 'voting_form' %>
  	<% elsif @game.round.number == 7 %>
  	<%= render 'winner' %>
  	<% end %>
  <% end %>

<% end %>


<!-- display game players -->
<h1>Players List</h1>
<% @game.players.each do |player| %>
<li><%=  player.nickname %></li>
<% end %>

<!-- display game card and roles and actions -->
	<h1>Cards List</h1>
<table>
	<tr>
		<th>Role</th>
		<th>Action</th>
	</tr>

	<% Card.all.each do |card| %>
	<tr><td><%=  card.role %></td>
	<td><%=  card.action %></td></tr>
	<% end %>
</table>

<!-- button for ready or pushing on -->

</center>
