$.ajax({
  url: '/get_player',
  type: 'POST',
  success: function(player) {
    App.cable.subscriptions.create({channel: 'RoundsChannel', user_id: player.user_id, role: player.role}, {
      received: function(data) {
        if (data.round == "0") {
          
        } else if (data.round == "1") {
          $('#round').html("<h1><strong>Round: 1</strong></h1>")
          $('#round').append("<br><p>You are the <strong>" + player.role + "</strong>.</p>")
          $('#round').append("<p>Take a look at your card. You cannot see it again.</p>")
        } else if (data.round == "2") {
          $('#role').html("")
          $('#round').html("<h1><strong>Round: 2</strong></h1>")
          if (player.role == "Werewolf") {
            $('#round').append(`
              <% @game = Game.find(1) %>
              <h3>Werewolves</h3>
              <% @game.players.each do | player | %>
                <% if player.card.role == "Werewolf" %>
                    <li><%= player.nickname %></li>
                <% end %>
              <% end %>
            `)
          } else {
            $('#round').append("<p>The werewolves are performing their actions.</p>")
          }
        } else if (data.round == "3") {
          $('#round').html("<h1><strong>Round: 3</strong></h1>")
          if (player.role == "Seer") {
            $('#round').append("<p>Please perform your action as the Seer.</p>")
            $('#round').append(`
              <% @game = Game.find(1) %>
              <form id="seer-form" action="/actions/seer" method="post" data-remote="true" data-type="json">
              <% @game.players.each do |player| %>
                <input  type="radio" id="<%=player.id%>" name="<%=player.id%>"> <%= player.nickname %></input><br />
              <% end %>
              <br>
              <input type="submit" class="btn btn-primary" value="Perform Action"></input>
              </form>
            `)
            $('#seer-form').on('ajax:complete', function(e, request, status) {
              $('#seer-form').hide()
              $('#round').append("<p><strong>" + request.responseJSON.name + "</strong> is the <strong>" + request.responseJSON.role + "!</strong></p>")
            })
          } else {
            $('#round').append("<p>The Seer is performing his/her action.</p>")
          }
        } else if (data.round == "4") {
          $('#round').html("<h1><strong>Round: 4</strong></h1>")
          if (player.role == "Robber") {
            $('#round').append("<p>Please perform your action as the Robber.</p>")
            $('#round').append(`
              <% @game = Game.find(1) %>
              <form id="robber-form" action="/actions/robber" method="post" data-remote="true" data-type="json">
              <% @game.players.each do |player| %>
                <input type="radio" id="<%=player.id%>" name="<%=player.id%>"> <%= player.nickname %></input><br />
              <% end %>
              <br>
              <input type="submit" class="btn btn-primary" value="Perform Action"></input>
              </form>
            `)
            $('#robber-form').on('ajax:complete', function(e, request, status) {
              $('#robber-form').hide()
              $('#round').append("<p>You have robbed <strong>" + request.responseJSON.robbed_name + "'s</strong> card. You are now the <strong>" + request.responseJSON.robbed + "</strong>!")
            })
          } else {
            $('#round').append("<p>The Robber is performing his/her action.</p>")
          }
        } else if (data.round == "5") {
          $('#round').html("<h1><strong>Round: 5</strong></h1>")
          if (player.role == "Troublemaker") {
            $('#round').append("<p>Please perform your action as the Troublemaker.</p>")
            $('#round').append(`
              <% @game = Game.find(1) %>
              <form id="troublemaker-form" action="/actions/troublemaker" method="post" data-remote="true" data-type="json">
              <% @game.players.each do |player| %>
                <input type="radio" id="<%=player.id%>" name="<%=player.id%>"> <%= player.nickname %></input><br />
              <% end %>
              <br>
              <input type="submit" class="btn btn-primary" value="Perform Action"></input>
              </form>
            `)
            $('#troublemaker-form').on('ajax:complete', function(e, request, status) {
              $('#troublemaker-form').hide()
              $('#round').append('<p>You have switched <strong>' + request.responseJSON.first + '\'s</strong> card with <strong>'+ request.responseJSON.second + '\'s</strong> card!')
            })
          } else {
            $('#round').append("<p>The Troublemaker is performing his/her action.</p>")
          }
        } else if (data.round == "7") {
          debugger;
          $('#round').html("<h1><strong>Round: 7</strong></h1>")
            $('#round').append("<p>Please vote. (Who's the werewolf?)</p>")
            $('#round').append(data.html_result)

            $('#vote-form').on('ajax:complete', function(e, request, status) {
              $('#vote-form').hide()
              $('#round').append("<p>You have voted for <strong>" + request.responseJSON.name + "!</strong></p>")
            })
          }
        }
      }
    })
  },
})


